[user]
    name = Zegang Cheng
    email = 20091803+chengzegang@users.noreply.github.com

#[alias]
#    st = status
#    co = checkout
#    br = branch
#    up = rebase
#    ci = commit

[core]
    editor = nano
    autocrlf = input

[color]
    ui = true

[push]
    default = simple